<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            line-height: 1.42em;
            color:#A7A1AE;
            background-color:#1F2739;
        }

        h1 {
            font-size:3em; 
            font-weight: 300;
            line-height:1em;
            text-align: center;
            color: #4DC3FA;
        }

        h2 {
            font-size:1em; 
            font-weight: 300;
            text-align: center;
            display: block;
            line-height:1em;
            padding-bottom: 2em;
            color: #FB667A;
        }
    </style>
</head>
<body>
    <h1>SignUp</h1>
    <h2><form action="/user" method="post">
        <label>Name: </label>
        <input type="text" name="name" required />
        <label>Email: </label>
        <input type="text" name="email" required />
        <label>Password: </label>
        <input type="text" name="password" required />
        <button type="submit">SignUp</button>
    </form>
    </h2>

</body>
</html>